	<footer>
		<p><a href="http://students.cpcc.edu/~gjordan5">My Webspace</a> // <a href="https://github.com/gman21788">Github</a> // <a href="https://gman21788.github.io/">Github Pages</a> // <a href="https://github.com/gman21788/WEB215">Github WEB215</a> // <a href="https://www.freecodecamp.org/gman21788">FreeCodeCamp</a> // <a href="https://www.codecademy.com/profiles/arrayRunner30618">CodeCademy</a> // <a href="https://jsfiddle.net/user/gman21788/fiddles/">JSFiddle</a> // <a href="https://www.linkedin.com/in/garrett-jordan-aa97aba1/">LinkedIn</a></p>
		<p>Page built by Standen Place Designs</p>
		<p>
			<a href="http://validator.w3.org/check?uri=referer" style = 'text-decoration: none'><img src='images/htmlbtn.gif' alt='HTML Validation Button' height='31' width='88' /></a> 
			<a href="http://jigsaw.w3.org/css-validator/check/referer" style = 'text-decoration: none'><img src='images/css_valid_button.gif' alt='CSS Validation Button' height='31' width='88' /></a>
		</p>
	</footer>